<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", alt: "Le Wagon Logo" %>
    <% end %>

    <!-- Bouton de toggler pour les petits écrans -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenu collapsé de la navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if player_signed_in? %>
          <!-- Lien vers la page d'accueil -->
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>

          <!-- Dropdown pour l'utilisateur connecté -->
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_player&.avatar&.attached? %>
                <%= image_tag url_for(current_player.avatar), class: "rounded-circle me-2", alt: "Profile picture" %>
              <% else %>
                <%= image_tag "https://via.placeholder.com/40", class: "rounded-circle me-2", alt: "Default avatar" %>
              <% end %>
              <span><%= current_player.first_name || "User" %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", player_path(current_player), class: "dropdown-item" %>
              <%= link_to "Settings", edit_player_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_player_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <!-- Lien de connexion pour les utilisateurs non connectés -->
          <li class="nav-item">
            <%= link_to "Login", new_player_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
