<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=412, initial-scale=1.0">
  <title>Phantom Go</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
</head>
<body>
  <div class="container">

    <main class="main">
      <div class="logo">
        <img src="https://res.cloudinary.com/dreiyfvcb/image/upload/v1732802263/Logo_white_1_pf2tt7.png" alt="Phantom Go" class="logo-image">
      </div>

      <div class="game-board">
        <%= image_tag("board.png")%>
      </div>
      <%= button_to "Jouer", availabilities_path, data: {turbo_method: :create}, class: "auto-match-button" %>
      <%= render 'components/fleche' %>
      <%= render 'components/bulle' %>
      <%= render 'components/rules' %>
    </main>
    <footer class="footer">
      <%= render 'components/profile' %>
    </footer>
  </div>
</body>
</html>
