<div
  id="goban"
  data-controller="goban"
  data-goban-gameid-value="<%= game.id %>"
  data-goban-color-value="<%= color %>">
  <%= render "line", row: "6", goban: goban, color: color %>
  <%= render "line", row: "5", goban: goban, color: color %>
  <%= render "line", row: "4", goban: goban, color: color %>
  <%= render "line", row: "3", goban: goban, color: color %>
  <%= render "line", row: "2", goban: goban, color: color %>
  <%= render "line", row: "1", goban: goban, color: color %>
</div>
