<% opponent = current_player == @game.black_player ? @game.white_player : @game.black_player %>

<div class="opponent-row row">

  <div class="col-12 mt-3 d-flex justify-content-between align-items-center">
    <!-- Timer à gauche -->
    <div class="timer-container">
      <p class="timer"
         id="opponent-timer"
         data-controller="timer"
         data-timer-minutes-value="<%= opponent_timer[:minutes] %>"
         data-timer-seconds-value="<%= opponent_timer[:seconds] %>"
         data-timer-is-playing-value="<%= !playing %>"
      ><%= opponent_timer[:string] %></p>
    </div>

    <div class="opponent-info d-flex align-items-center">
      <div class="username-container">
        <h2 class="username"><%= opponent.username %></h2>
      </div>
      <div class="avatar-container">
        <%= image_tag opponent.avatar.url, class: "avatar" if opponent.avatar.attached? %>
      </div>
    </div>
  </div>

  <div class="col-12 captures-section">
    <div id="captures-container" class="captures-info">
      <%= render "captured_score", captured_stones: opponent_captured_stones%>
        <%# <div class="moves-info">
          <p class="moves"></p>
        </div> %>
    </div>
  </div>
</div>
