
<div id="goban" data-controller="goban" data-goban-gameid-value="<%= @game.id %>" data-goban-color-value="<%= @color %>">
  <%= render "line", row: "6" %>
  <%= render "line", row: "5" %>
  <%= render "line", row: "4" %>
  <%= render "line", row: "3" %>
  <%= render "line", row: "2" %>
  <%= render "line", row: "1" %>
</div>
