<div
  id="game"
  data-controller="game"
  data-game-gameid-value="<%=@game.id%>"
  data-game-playerid-value="<%=current_player.id%>"

<div class="game-show-container">
  <!-- Header -->
  <%= render "games/header" %>

  <!-- Opponent -->
  <%= render "games/opponent" %>

  <!-- Goban (plateau de jeu) -->
  <%= render "games/goban", game: @game, goban: @goban, color: @color %>

  <!-- Current Player -->
  <%= render "games/current_player" %>

  <!-- referee -->
  <%= render "games/referee", message: @message %>

  <!-- button game -->
  <%= render "games/button_game" %>

</div>
</div>
</div>
