<div
  id="game"
  data-controller="game"
  data-game-gameid-value="<%=@game.id%>"
  data-game-playerid-value="<%=current_player.id%>"
>

<%= current_player.email%>
<div
  id="goban"
  data-controller="goban"
  data-goban-last-color-value="<%=last_stone_color(@last_turn)%>"
  data-goban-gameid-value="<%=@game.id%>"
  data-goban-color-value="<%=@color%>">
<%=render "line", row: "6", turns: @turns, color: @color %>
<%=render "line", row: "5", turns: @turns, color: @color %>
<%=render "line", row: "4", turns: @turns, color: @color %>
<%=render "line", row: "3", turns: @turns, color: @color %>
<%=render "line", row: "2", turns: @turns, color: @color %>
<%=render "line", row: "1", turns: @turns, color: @color %>
</div>
</div>

<div id="message">
<%= render "referee_disclaimer", text: @message%>
</div>

<%# Bonton "abandonner" %>
<%=link_to "Abandonner" "#{@game.id}/give_up", data: {turbo_method: :patch} %>


<%# Bouton "passer" %>
<% if @currently_waiting == current_player%>
passer pas clicable
  <% else %>
  <%= link_to "passer", "#{@game.id}/pass", data: {turbo_method: :patch} %>
  <% end %>
