<div
  id="game"
  data-controller="game"
  data-game-gameid-value="<%=@game.id%>"
  data-game-playerid-value="<%=current_player.id%>"

<div class="game-show-container">
  <!-- Header -->
  <%= render "games/header" %>

  <!-- Opponent -->
  <%= render "games/opponent", opponent_captured_stones: @opponent_captured_stones %>

  <!-- Goban (plateau de jeu) -->
  <%= render "games/goban", game: @game, goban: @goban, color: @color %>

  <!-- Current Player -->
  <%= render "games/current_player", current_captured_stones: @current_captured_stones %>

  <!-- referee -->
  <%= render "games/referee", message: @message %>

  <!-- button game -->
  <%= render "games/button_game" %>

</div>
</div>

<%# Bonton "abandonner" %>
<%=link_to "Abandonner" "#{@game.id}/give_up", data: {turbo_method: :patch} %>


<%# Bouton "passer" %>
<% if @currently_waiting == current_player%>
passer pas clicable
  <% else %>
  <%= link_to "passer", "#{@game.id}/pass", data: {turbo_method: :patch} %>
  <% end %>
